*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(233, 26%, 24%);
}

body{
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Public Sans', sans-serif; 
    font-size: 18px;
}

a{
    text-decoration: none;
}

header{
    background: #ffffff;
    padding: 0.28rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 100vw;
}

.navbar li{
    display: inline-block;
}

.navbar li a{
    position: relative;
    margin-left: 1rem;
    color: #000000;
    opacity: 50%;
}

.navbar li a:hover{
    color: #000000;
    opacity: 80%;
}

.navbar li a::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2rem;
    width: 0;
    height: 0.25rem;
    background:  hsl(136, 65%, 51%);
    
    transition: all .5s;
}

.navbar li a:hover::after{
    width: 100%;
}

.btn-dropdown{
    display: none;
}

.btn-request{
    all: unset;
    width: 9rem;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: #ffffff;
    margin: 1rem;
    padding: 0.56rem 2.22rem;
    border-radius: 3.22rem;
    cursor: pointer;
    text-align: center;
}

.btn-request:hover{
    opacity: 75%;
}

span, p{
    color: #000000;
    opacity: 50%;
}

.details{
    background: hsl(0, 0%, 95%);
    display: grid;
    grid-template-columns: 40% 60%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.title{
    display: flex;
    flex-direction: column;
    width: 70%;
    transform: translate(40%, -40%);
}

.title-heading{
    font-size: 2.22rem;
    margin-bottom: 1.1rem;
}

.mockup{
    background: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 2.8rem;
    background-position-y: -4.44rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mockup-img{
    width: 80%;
    transform: translate(11rem, -2rem);
}

.features{
    background: hsl(220, 16%, 92%);
    padding: 5.56rem 2.78rem;
}

.sub-title{
    position: relative;
    padding-bottom: 1.1rem;
    width: 45vw;
    margin: 0 10%; 
}

.sub-title h1{
    font-size: 2.2rem;
    margin: 1.1rem 0;
}

.reasons{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 2.78rem 10%;
}

.reason-img{
    padding: 0.56rem;
}

.reason-heading{
    padding: 0.83rem 0;
}

.latest-articles{
    padding: 5.56rem 2.78rem;
    background:hsl(0, 0%, 95%);
}

.latest-articles-heading{
    font-size: 2rem;
    margin: 0 10% 1.67rem;
}

.articles{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 10%;
}

.article-card{
    background: #ffffff;
    border-radius: 0.56rem;
    overflow: hidden;
}

.article-thumbnail{
    width: 100%;
    height: 11.1rem;
    padding-bottom: 0.83rem;
}

.article-title{
    font-size: 1.1rem;
    padding: 0.56rem 0;
    cursor: pointer;
}

.article-title:hover{
    color:hsl(136, 65%, 51%);
}

.author{
    font-size: 0.8rem;
}

.card-text{
    font-size: 0.9rem;
}

.card-body{
    padding: 1.1rem;
}

footer{
    background: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-between;
    padding: 0.56rem 2.78rem;
}

.ft-1{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    margin-left: 10%;
}

footer ul{
    list-style: none;
}

.social-links{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.ft-2{
    margin-right: 10%;
}

.social-links .logo-img{
    padding-bottom: 1.1rem;
}

.social-logos li{
    display: inline-block;
    margin-right: 0.56rem;
}

.social-logos li a img{
    cursor: pointer;
}

.social-logos li a img:hover{
    filter: invert(83%) sepia(50%) saturate(6391%) hue-rotate(75deg) brightness(104%) contrast(81%);
}

.ft-nav-1 li,
.ft-nav-2 li{
    margin: 0.56rem 0;
}

.ft-nav-1 li a,
.ft-nav-2 li a{
    color: #ffffff;
    font-size: 1.1rem;
}

.ft-nav-1 li a:hover,
.ft-nav-2 li a:hover{
    color:hsl(136, 65%, 51%);
}

.ft-2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ft-2 h4{
    color: #ffffff;
    opacity: 50%;
}

@media screen and (max-width: 768px){

    header{
        padding: 1.67rem 2.2rem;
    }

    .navbar{
        position: absolute;
        top: 5.56rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #ffffff;
        width: 80%;
        padding: 2.2rem;
        border-radius: 0.56rem;
        text-align: center;
        margin: 0 5%;
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    .navbar li{
        margin: 1.1rem 0;
    }

    .navbar li a{
        margin: 0;
    }

    .navbar li a::after{
        bottom: -1.1rem;
    }

    header .btn-request{
        display: none;
    }

    .active{
        opacity: 1;
    }

    .btn-dropdown{
        display: block;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
    }

    .details{
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        background: hsl(220, 16%, 92%);
    }

    .title{
        width: 100%;
        transform: translate(0);
        padding: 0 2.22rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .title-heading{
        width: 95%;
    }

    .title-text{
        font-size: 1.1rem;
    }

    .mockup{
        background-size: 100%;
        background-position-x: 6.67rem;
        background-position-y: 1.67rem; 
    }

    .mockup-img{
        width: 100%;
        transform: translate(0, -5rem);
    }

    .features{
        padding: 2.2rem;
        width: 100vw;
    }

    .features div{
        width: 90%;
        margin: auto;
        text-align: center;
    }


    .reasons{
        flex-direction: column;
    }

    .latest-articles{
        flex-direction: column;
    }

    .articles{
        flex-direction: column;
    }

    .article-card{
        width: 100%;
    }

    .article-thumbnail{
        height: 16.67rem;
    }

    .card-body{
        padding: 0.56rem 1.1rem 2.2rem 1.1rem;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.2rem;
    }

    .ft-1{
        flex-direction: column;
        margin-left: -1.67rem;
    }

    .ft-nav-1,
    .ft-nav-2{
        text-align: center;
    }

    .ft-nav-1 li,
    .ft-nav-2 li{
        margin: 1.1rem 0;
    }

    .ft-nav-2{
        margin-top: -1.1rem;
    }

    .ft-2{
        justify-content: center;
        align-items: center;
    }

    .ft-2 h4{
        font-size: 1.1rem;
    }

}